.stats {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
   margin-top: 0;

}

.list {
    width: calc(100% / 3);
    padding: 15px;
    
    display:flex;
    flex-wrap: wrap;
    
    white-space: pre-wrap;
    border: 0.1mm solid green;
    background-color: rgb(178, 226, 178);
    
}

.text {
   display: flex;
   text-align: center;

}


