
.item {
    text-align: center;
    list-style: none;
    border: 0.1mm solid;
    padding: 5px;
    width: calc(100% / 5);
}

.label {
    display: block;
    text-align: center;
}

.precentage {
    display: block;
  text-align: center;
}
